<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <a class="navbar-brand" href="#">TODO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'todo-create' %}">Add a TODO item</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                {% if user.is_authenticated %}
                    <b class="text-primary">{{ user.first_name }} {{ user.last_name }}</b>
                    <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}" class="nav-link">Login</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>